#landing-section {
  background-color: black;
}

#name {
  margin-top: 85px;
  font-family: 'Quicksand', sans-serif;
  font-size: 75px;
  color: maroon;
}

#title {
  font-family: 'Pacifico', cursive;
  color: gainsboro;
}

#logo {
  margin: 75px;
}

#logo-img {
  height: 425px;
}

#main-navigation {
  font-family: 'Quicksand', sans-serif;
  color: maroon;
}

.nav:hover {
  color: white;
  cursor: pointer;
}

#about-me-left {
  background-color: black;
  height: 900px;
}

#about-me-photo {
  margin-top: 250px;
}

#about-title {
  color: gainsboro;
  font-family: 'Pacifico', cursive;
}

#about-description {
  background-color:  gainsboro;
  height: 900px;
  margin-left: 0;
  color: maroon;
  font-family: 'Quicksand', sans-serif;
}

#about-description h3 {
  margin: 25px;
  margin-top: 250px;
}

#projects-section {
  background-color: maroon;
}

.projects-header {
  margin-bottom: 60px;
}

#projects-heading {
  margin-top: 100px;
  color: white;
  font-family: 'Pacifico', cursive;
}

.project-img {
  max-height: 230px;
}
.project-icon-group {
  margin-top: 15px;
}

.project-inline {
  display: inline-block;
  margin-right: 5px;
}

.project-inline:hover {
  color: black;
}

#contact-section {
  background-color: black;
}

#contact-heading {
  margin-top: 100px;
  color: white;
  font-family: 'Pacifico', cursive;
}

#contact-sub-heading {
  color: maroon;
  font-family: 'Quicksand', sans-serif;
}

#contact-icon-group {
  margin-top: 175px;
}

#contact-group {
  margin: 25px;
}

.inline {
  display: inline-block;
  margin-right: 50px;
}

a {
  color: gainsboro;
  text-decoration: none;
}

a:hover {
  color: maroon;
}

/* HEXAGON IMAGE STYLING */
.hexa, .hexa div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.hexa {
  width: 325px;
  height: 230px;
}
.hexa div {
  width: 100%;
  height: 100%;
}
.hexa {
  transform: rotate(120deg);
}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform: rotate(-60deg);
}

/* ONE PAGE SCROLL CSS */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}